/*===============================

building

===============================*/

.building-content-container {
	display:flex;
	background-color:;
	width:800px;
}

.building-content-container p {
	margin:0 40px 30px 0;
}

.building-content-container img {
	margin: 0 20px 20px 0;
}
h4 {
	margin:0 0 20px 0;
}

h5 {
	line-height: 2rem;
}

.architect-img {
	width:100px;
	background-color:;
	margin:0 15px 0 0;
}
.architect-img img {
	width:100%;

}

/*===============================

responsive

===============================*/

@media only screen and (max-width: 900px) {
	.building-content-container {
		width:600px;
	}
}

@media only screen and (max-width: 820px) {  
}


@media only screen and (max-width: 700px) {	
}

@media only screen and (max-width: 610px) {
	.building-content-container {
		width:300px;
		flex-direction: column;
	}



}

@media only screen and (max-width: 500px) {
}
