/*7EBFAA dull blue green
#d5f4e6 light blue green
#80ced6 pale/bright blue green
#618685 grey blue
#fefbd8 offwhite/yellow

153, 13, 96 #d5f5e6 1
145, 21, 86 #addbc0 2
135, 30, 77 #89c498 3
129, 60, 73 #4aba5b 4 
124, 64, 66 #3da844 5
122, 77, 45 #1a731d 6
122, 66, 41 #246926 7
122, 90, 28 #074709 8
*/
/*===============================

reset

===============================*/
* {
	margin: 0;
	padding: 0;
	font-family:Arial, sans-serif;
}

/*===============================

general

===============================*/
h1 {
	font-family:'EB Garamond', Garamond, serif ;
	font-size: 4rem;
	line-height:;
}

h2 {
	font-family:'EB Garamond', Garamond, serif;
}
h3 {
	line-height: 50px;
	font-size: 2rem;
	color:#3C5E3C;
} 

h4 {
	font-size: 1.5rem;
	color:#947741;
}

h5 {
	font-size: 1.1rem;
	color:#604615;
}

button:hover {
	cursor: pointer;
}

a{
	color:#addbc0;
	color:teal;
	color:#99ffcc;
	color:#3da844;
}
.walnut-logo {
	display: flex;
	padding: 20px 20px 20px 33px;
	border-top: 1px solid #111;
	border:1px solid #333;
	border-radius: 5px 5px 0 0;
	border-bottom:none;
	margin-bottom: 20px;
	background-color: white;
	margin: 20px 50px 0px 50px;
	justify-content: ;
	align-items:;
}
.walnut-logo img {
	height:175px;
	background:;
}

.walnut-logo h2 {
	margin-left: 10px; 
}

.logo-text {
	background:;
	padding-top: 15px;
	margin-left: 25px;
}
/*select {
	height:80px;
}*/
/*===============================

body

===============================*/

body {
	background-color: #d5f4e6;
}

/*===============================

header

===============================*/
header,
nav,
section,
footer,
.container{
	margin:0 50px 0 50px;
}



header {
	/*background: url(../img/building3.jpg);*/
	background: #222;
    background-size: cover;
    background-repeat: no-repeat;
	height:500px;
	display: block;
}

header img {
	/*background: url(img/building1.jpg);*/
    /*background-size: cover;*/
    height:100%;
    background-repeat: no-repeat;
}

/*===============================

dropdown

===============================*/

.container {
    overflow: hidden;
    background-color: #777;
    font-family: Arial;
    margin:;
}

.container a {
    float:left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding:14px 16px;
    background-color: inherit;
}

.dropbtn a {
	padding: 0;

}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #99ffcc;
    color:#444;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*===============================

section

===============================*/

section {
	background-color: white;
	display:flex;

}

/*===============================

article

===============================*/

article {
	margin:20px 50px 0 50px;
}

.article-wrap {
	background-color: #fff;
	width:800px;
}

.article-wrap article:nth-child(1){
	margin-top:30px;
}





/*===============================

aside

===============================*/

aside{
	width:200px;
	background-color: #addbc0;
	background-color: teal;

}

/*===============================

footer

===============================*/

footer {
	height: 100px;
	background-color: #89c498;
	background-color: #addbc0;
	color:#fff;
	font-size: .9rem;
	display:flex;
	justify-content: center;
	align-items: center;
}

.footer{
	height: 100px;
	background-color: #4aba5b;
}


/*===============================

media queries-general

===============================*/

@media only screen and (max-width: 900px) {
    header {
    	height:400px;
    }
}

@media only screen and (max-width: 820px) {
    h1 {
    	line-height: 4rem;
    }

    header {
    	height:300px;
    }
}


@media only screen and (max-width: 700px) {
	header {
		height:200px;
	}
	h1 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 610px) {
	article {
		margin:20px;
	}
	h1 {
		line-height: 3rem;
	}
	h2 {
		margin-bottom: 20px;
	}

	p {
		width:250px;
		text-align:;
	}

	h3 {
		width:300px;
	}

	h4 {
		width:300px;
	}

	header {
		display: none;
	}

	.walnut-logo {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.walnut-logo img {
		padding-left: 15px;
	}

	.walnut-logo {
		margin:0;
	}
	.container {
		margin:0;
	}
	aside {
		display:none;
	}

	section {
		margin:0;
	}
	footer {
		width:100%;
		margin:0;
	}
}

